<h3>Whispers</h3>
<div class="section bg-emerald-900">
    <p class="lead">Whisper your thoughts to all or save them to you private collection. Join us on this new innovated plateform.  </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn bg-teal-500">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</div>